
.tag-cloud-tag{
    cursor: pointer;
}

.container-light{
    .home{
        p{
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 25px;
            line-height: 23px;
            color: #000000;
        }

        .card{
            height: 244px;
            .btn{
                position: absolute;
                left: 0px;
                right: 0px;
                top: 0px;
                bottom: 0px;
                margin: auto;
                width: 136px;
                height: 70px;
                border: 2px solid #000;
                background: #fff;
                color: #000;
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 23px;
                color: #000000;
            }
            .btn:hover{
                background: #363636;
                color:#fff
            }
            p{
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 28px;
                color: #000;
            }
        }

        .tag-cloud{
            max-width: 643px;
            background: #e4e4e4;
            box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.5);
            border-radius: 10px;
        }

        .slick-prev:before{
            color: black;
        }
        
        .slick-next:before{
            color: black;
        }
        

    }

}


.container-dark{
    .home{
        p{
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 25px;
            line-height: 23px;
            color: #fff;
        }

        .card{
            height: 244px;
            background: #424242;
            .btn{
                position: absolute;
                left: 0px;
                right: 0px;
                top: 0px;
                bottom: 0px;
                margin: auto;
                width: 136px;
                height: 70px;
                border: 2px solid #fff;
                background: #424242;
                color: #fff;
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 23px;
                color: #fff;
            }
            .btn:hover{
                background: #fff;
                color:#000
            }
            p{
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 28px;
                color: #fff;
            }
        }

        .tag-cloud{
            max-width: 643px;
            background: #383838;
            box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.5);
            border-radius: 10px;
        }

        .slick-prev:before{
            color: #fff;
        }
        
        .slick-next:before{
            color: #fff;
        }

    }

}