.container-light{

    .h1{
        font-family: 'Fredericka the Great', cursive;
        font-size: 40px;
        line-height: 50px;
        color: #424242;
    }
    
    .bar{
        background: #E0E0E0;
    }

} 

.container-dark{
    
    .bar{
        background: #212121;
    }

    .h1{
        font-family: 'Fredericka the Great', cursive;
        font-size: 40px;
        line-height: 50px;
        color: #FFFFFF;
    }
 
} 